canvas {
  width: 100%;
  height: 100%;
}

* {
  margin:0;
  padding:0;
}

html, body {
  width:100%; 
  height:100%;
}

canvas {
  display:block;
  background: #33aaff;
  background-size: 100% 100%;
  background-position-x: 200px;
}

#stats {
  top:0;
  right:0;
  width: 9%;
  position:fixed;
  border:none; 
  margin:0; 
  overflow:hidden;
  background-color: black;
  opacity: 0.5;
  font-family: Arial;
  font-size: 150%;
  z-index: 999999;
  color: white;
  text-align: left;
  padding: 5px;
  word-spacing: 1px;
}